{% load staticfiles %}
{% load crispy_forms_tags %}

<html>
<head>
<title>{% block head_title %}Blog Kerala{% endblock head_title %}</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel='stylesheet' href='{% static "css/static.css" %}' />
<link rel='stylesheet' href='{% static "css/style.css" %}' />
    {% include 'navbar.html' %}

</head>
<body background="{% static 'img/bgd.jpg' %}">
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



{% include "messages_display.html" %}
<div class='container'>
{% block content %}{% endblock%}
</div>
<footer> <hr/>
    <div class="text-center">
      <h3 class="text-center">Share <i class="fa fa-hand-o-down" aria-hidden="true"></i>
</h3>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"> <i class="fa fa-facebook-square fa-3x"></i></a>
            <a href="https://twitter.com/home?status={{ request.build_absolute_uri }}">
            <i class="fa fa-twitter-square fa-3x"></i></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}">
            <i class="fa fa-linkedin-square fa-3x"></i></a>
            <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
            <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}">
            <i class="fa fa-google-plus-square  fa-3x"></i></a>
            <a data-pin-do="buttonBookmark" href="//www.pinterest.com/pin/create/button/">
                <i class="fa fa-pinterest-square fa-3x"></i></a>
            <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}">
             <i class="fa fa-reddit-square  fa-3x"></i></a>
            <br/>
            <hr/>
</div>
</footer>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>
</body>
</html>
