{% load staticfiles %}
{% load crispy_forms_tags %}
<style>

.navbar-inverse {
background-image: linear-gradient(to bottom,#3c3c3c 0,#63B44A 100%);
}

h1 {
    color: #E4DADA;
}

body {
    background: #2C5139!important;
    border: 0;
    font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #41DE54!important;
    line-height: 22px;
    font-style: italic;
}

</style>
<html>
<head>
<title>{% block head_title %}Blog Kerala{% endblock head_title %}</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel='stylesheet' href='{% static "css/static.css" %}' />
<link rel='stylesheet' href='{% static "css/style.css" %}' />
    {% include 'navbar.html' %}

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



{% include "messages_display.html" %}
<div class='container'>
{% block content %}{% endblock%}
</div>



<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>
</body>
</html>
